
.container{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 2px black solid;
  background-color: #66F1ED;
  border-radius: 12px;
  padding: 12px;
  height: 600px;
}

.page-title{
  color: #2D9D99;
  font-family: Lucida;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  text-shadow: 2px 2px white;
}

.signform {
	  font-family: Lucida;
	  font-size: 50px;
	  text-align: center;
}
 
.signup {
	text-align: center;
}

.currentmentors,.middleschool {
	position: relative;
	top: 50px; 
}
.middleschool {
	text-align: center;
}
.page-subtitle{
  color: #2D9D99;
  position: relative;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px white;
  font-family: Lucida;
  font-weight: bold;
}

.section-heading{
  font-size: 22px;
  font-weight: bold;
  color: #633D00;
  font-weight: bold;
  font-family: Lucida;
}

.resource-title{
	font-weight: bold;
	font-family: Lucida;
}

.extra{
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}


.lesson{
  font-size: 14px;
  font-weight: normal;
}



body {
	background: url(k.png);
	background-repeat: repeat;
}
