body{
	background-color: #ffffff;
	color: #000000;
}

.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
}

.footer-right{
  color: #FF8C00;
  text-align: center;
  padding: 10px;
}

header{
  padding: 30px;
}

hr {
    height: 1px;
    border-top: 1px solid gray;
    background-color: gray;
    padding:0px;
}

btn-second{
  color: #000;
}

.thumbnail img{
    max-width: 100%; /* do not stretch the bootstrap column */
}

.img-wrapper{
	max-width: 200px;
  max-height: 300px;
  margin: auto;
  text-align: center;
}

.img-wrapper-large{
	max-width: 80%;
  max-height: 60%;
  margin: auto;
  text-align: center;
}

.section-title{
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  width: 80%;
  margin: auto;
}

.dynamic-font{
  font-size: 22px;
}

.page-title{
  text-align: center;
}

.page-title-image{
    display: block;
    margin: auto;
		max-width: 80%;
		max-height: 200px;
    bottom: 0;
}

.page-subtitle{
  text-align: center;
  font-style: italic;
}

.mailto{
  border: 2px white solid;
  border-radius: 8px;
  padding: 8px;
  color: white;
}

.hack-az{
  color: black;
}

.hack-az a{
  color: #9376C7;
}

.sponsor{
  color: #FF8A8C;
}

.about{
  background-color: #FF8C00;
  color: white;
  padding: 10px;
  border: 2px solid black;
}

.about a{
  color: black;
}

@media (max-width: 600px) {
  .page-title-image{
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    bottom: 0;
  }
  .section-title{
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 20px;
    width: 90%;
    margin: auto;
  }
  .dynamic-font{
    font-size: 16px;
  }
  .footer-right{
    text-align: center;
    float: none;
    padding: 10px;
  }
}
