

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("top.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("yes.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("class.jpeg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

a {
	color: white;
}

.textBox {
	color:#ddd; 
	background-color:#282E34; 
	text-align: center; 
	padding: 50px 80px; 
	text-align: justify;
	font-size: 20px;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.border img {
  max-width: 80%;
}

.git {
	border-radius: 24px;
}

.about {
	color: #777; 
	background-color:white; 
	text-align:center; 
	padding: 50px 80px; 
	text-align: justify;
	font-size: 20px;
}

h3 {
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	color: #111;
}

.dis {
	position: relative;
}

h2 {
	border-radius: 2px;
	margin-top: 50px;
	max-width: 510px;
	padding: 3px;
	background-color: #FFEAE9;
	font: 18px "Lato", sans-serif;
	color: black;
}
h2 img {

	vertical-align: middle;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
