body{
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  background-blend-mode: screen;
}

footer{
  text-align: center;
}

hr {
    height: 1px;
    border-top: 1px solid gray;
}

.page-title{
  text-align: center;
  padding-top: 20px;
  pading-bottom: 5px;
}

.page-subtitle{
  text-align: center;
  font-style: italic;
}

.section-heading{
  font-size: 22px;
  font-weight: bold;
}

.org-description{
  font-size: 18px;
  text-align: center;
  font-weight:normal;
}

.workshop-title{
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}

.workshop-description{
  font-size: 14px;
  font-weight: normal;
}
.hack-az{
  color:  #9932CC;
}

.organization-shoutout{
  text-align: center;
  font-weight: normal;
}
.register-link{
  text-align: center;
}

.sponsor{
  color: #CC0033;
}
