body{

}

footer{
  text-align: center;
}

hr {
    height: 1px;
    border-top: 1px solid gray;
    background-color: gray;
    padding:0px;
}

btn-second{
  color: #000;
}

.bg-light{
  background-color: white;
}

.workshop-schedule{
  border: 2px black solid;
  border-radius: 12px;
  padding: 12px;
}
.text-centered{
  text-align: center
}

.page-title{
  text-align: center;
  padding-top: 30px;
  pading-bottom: 5px;
}

.page-subtitle{
  text-align: center;
  font-style: italic;
}

.section-heading{
  font-size: 22px;
  font-weight: bold;
}

.org-description{
  font-size: 18px;
  text-align: center;
  font-weight:normal;
}

.future-events{
  padding:10%;
  height: 100%;
  width: 100%;
  border: 2px black solid;
}

.workshop-title{
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}

.mailto{
  border: 2px white solid;
  border-radius: 8px;
  padding: 8px;
  color: white;
}

.workshop-description{
  font-size: 14px;
  font-weight: normal;
}

.hack-az{
  color: black;
}

.hack-az-container{
  background-color: #9932CC;
  color:white;
  border: 2px white solid;
  padding: 12px;
  border-radius:12px;
}

.mentor-row{
  background-color: #830909;
  text-align: center;
}

.mentor-shoutout{
  font-size: 12px;
  font-style: italic;
  text-align: center;
  padding-top: 12px;
  margin-bottom:0px;
}

.emailButton{
  border: 2px black solid;
  padding: 12px;
  border-radius:12px;
}

.quote{
  border: 2px solid black;
  border-radius: 12px;
  padding: 12px;
}

.organization-shoutout{
  text-align: center;
  font-weight: normal;
}

.partner-section{
  padding: 60px; 
}
.register-link{
  text-align: center;
}

.sponsor{
  color: #CC0033;
}
